<div class="bg-light">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand font-weight-bold" href="#">
            <h3> SpaceX Launch Programs</h3>
        </a>
    </nav>


    <div class="mx-3">
        <div class="row ml-1">
            <div class="col-12 col-sm-2 bg-white mr-2">
                <h4>Filters</h4>
                <div class="mb-3">

                    <p>Launch Year</p>
                    <hr>
                    <ul class="nav nav-pills ">
                        <li class="nav-item" *ngFor="let year of yearList">
                            <a class="nav-link mr-2" data-toggle="pill" (click)="getYearData(year.value)">{{year.value}}</a>
                        </li>
                    </ul>
                </div>
                <div class="mb-3">

                    <p>Successful Launch </p>
                    <hr>
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link mr-2" data-toggle="pill" (click)="getLaunchData(true)">True</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mr-2 " data-toggle="pill" (click)="getLaunchData(false)">False</a>
                        </li>
                    </ul>
                </div>
                <div class="mb-3">

                    <p>Successful Landing </p>
                    <hr>
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link mr-2" data-toggle="pill" (click)="getLandingData(true)">True</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mr-2 " data-toggle="pill" (click)="getLandingData(false)">False</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col62 col-md-4 col-lg-3 mb-3" *ngFor="let product of products">
                        <div class="card">
                            <div class="p-3">
                                <img class="card-img-top" src="{{product.links.mission_patch}}" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5>{{product.mission_name}} # {{product.flight_number}}</h5>
                                <p class="font-weight-bold">Mission Ids : </p>
                                <ul>
                                    <li *ngFor="let id of product.mission_id">{{id}}</li>
                                </ul>
                                <p>Launch Year: <span>{{product.launch_year}}</span></p>
                                <p>Successful Launch: <span>{{product.launch_success }}</span></p>
                                <p>Successful Landing: <span>{{product.rocket.first_stage.cores[0].land_success}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<hr>
<div class="text-center">
    <h4>Developed By : {{developedBy}}</h4>
</div>